.carousel-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 5px red;
  }
  


.panel {
    border: solid 5px red;
    margin: 0;
    height: 30rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Esto hace que el border-radius funcione bien */
    text-align: center;
}
  
.panel img {
    border: solid 5px red;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    margin: 0rem;
}



.loading{
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
}


@media(max-width: 768px) {
.carousel-container {
        width: 100%;
        padding: 0 1rem;
        box-sizing: border-box; 
    }

    /* El flicking-viewport es generado por la librería */
    .flicking-viewport {
        height: auto;
        padding: 0;
        box-sizing: border-box;
    }

    .panel {

        width: calc(100vw - 2rem - 1rem); 
        height: auto; 
        margin-right: 1rem; 
        
        /* El panel es flex para centrar su contenido (el Product) */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; 
        
        overflow: hidden;
        box-sizing: border-box;
        scroll-snap-align: center; 
    }

    .panel:last-child {
        margin-right: 0;
    }

    /* Product Container dentro del Panel (sin tocar product.css) */
    .panel > .product-container {
        width: auto; 
        max-width: 100%; 
 
    }

    .panel img {
        width: 100%;
        height: auto;
    }
}