@font-face {
    font-family: 'Futura Bold Condensed Oblique'; /* El nombre que usarás en tu CSS */
    src: url('../fonts/FuturaBoldCondensedOblique.woff2') format('woff2'),
         url('../fonts/FuturaBoldCondensedOblique.woff') format('woff');
    font-weight: bold; /* Especifica el grosor */
    font-style: oblique; /* Especifica el estilo */
    /* Puedes añadir más propiedades como font-display para controlar la carga */
  }

.home{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured-products{
    margin-top: 80px;
    margin-left: 100px;
    width: 200vh;
    
}

.home-products{
    all: unset;
    color: black;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}

.slogan{
    font-weight: 400;
    font-family: inherit;
    font-style: italic;
    font-size: 1.2rem;
    margin: 2rem 0;
    color: #444;
}

.line {  /* Elimina el borde por defecto que le dan los navegadores */ 
    border-bottom: 0.3rem solid black;/* Crea una línea superior sólida de 2px de grosor y negra */
    border-radius: 2rem;
    width: 95%; 
}

@media (max-width: 768px){
    .featured-products{
        margin-top: 60px;
        padding-right: 5rem;
        width: 50%;
    }

    .home{
        margin-top: 2rem;
        width: 100%;
    }

    .slogan{
        margin-left: 0.5rem;
    }
}