.btn-lat-navbar{
    all: unset;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: black;
    cursor: pointer;
    text-transform: capitalize;
    
}

.btn-lat-navbar:active{
    transform: translateY(2px);
}

.lateral-navbar{
    list-style: none;
}

@media(max-width: 768px){
    .lateral-navbar{
        width: 5rem;
        margin-right: 1rem;
    }

    ul{
        padding-left: 0;
    }
}