.btn-lat-navbar{
    border-radius: 8px;
    border: 1px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: black;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    transition: border-color 0.25s;
    text-transform: capitalize;
    
}

.btn-lat-navbar:active{
    transform: translateY(2px);
}



.lateral-navbar{
    list-style: none;
}