.mainPage-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.mainContent-container{
    flex: 1;
}


.mainLayout-footer{
    display: flex;
    align-items: flex-end;
    margin-top: 7rem;
    transform: translateY(0); 
}

