@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

ul{
    list-style-type: none;
}


.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 60px;
    background-color: rgb(126, 188, 121);
    box-shadow: 0 0 3rem -1rem black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Para que quede arriba de otras cosas */
}
  
.logo-container {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.main-logo-container{
    margin: 0%;
}
  
.navlist-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
  
.nav-list {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}
  
.main-tittle{
    margin: 0%;
    max-height: 100%;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
}

.nav-btn{
    color: black;
    border-radius: 8px;
    border: 1px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(126, 188, 121);
    cursor: pointer;
    transition: border-color 0.25s;

}

.nav-btn:active{
    transform: translateY(2px);
}


/*boton hamburguesa (solo visible en pantallas chicas) */
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

@media ( max-width: 768px) {
    
  .navlist-container {
    position: absolute;
    top: 60px; /* misma altura que tu navbar */
    left: 0;
    margin-top: 0;
    padding-top: 0;
    
    background-color: rgb(126, 188, 121);
    flex-direction: column;
    align-items: center;
    display: none; /* oculto por defecto */
    z-index: 999; /* asegurate que esté encima */
    padding: 1rem 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* opcional */
    right: 0;         /* alineado al lado derecho */
    left: auto;       /* anula el left anterior si lo tenías */
    width: 20%;
  }

  .navlist-container.open {
    display: flex;
    align-items: center;
    width: 15rem;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    
  }

  .nav-list {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }

  .nav-item{
    justify-content: center;
  }

  .nav-btn {
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
  }
  
  .hamburger {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    margin-left: 18rem;
    position: fixed;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.5rem; /* Tienes 0.5rem de padding en cada lado */
    box-sizing: border-box;
  }

  .main-tittle{
    font-size:large;
    margin-right: 6rem;
  }

 
}