.products-page{
    display: flex;
    background: url('/public/images/fondo_textura_madera2.png') no-repeat center center;
    padding-top: 100px;
}




/*.all-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0.5rem;
  width: 100%;
  justify-items: center;
}*/

.all-products {
  column-count: 4;              /* cantidad de columnas */             /* espacio entre columnas */
}
