.products-page{
    display: flex;
    background: url('/images/fondo_textura_madera2.png') no-repeat center center;
    padding-top: 100px;
}

.all-products {
  column-count: 4;
}


@media (max-width: 768px) {
  .products-page{
    margin-left: 0;
    padding-left: 0;
  }

  .all-products {
  column-count: 1;
  margin-left: 4rem;
  }

}